@model WebUI.Models.test.prueba

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()){
<div >
<h2>Create</h2>
    @*  *@
<div>
    @Html.LabelFor(a => a.Id) <br/>
    @Html.EditorFor(a => a.Id)
</div>
<div>
    @Html.LabelFor(a => a.Nombre) <br/>
    @Html.EditorFor(a => a.Nombre)
</div>
<div>
    @Html.LabelFor(a => a.Apellido) <br/>
    @Html.EditorFor(a => a.Apellido)
</div>
<input type="submit" value="enviar.."/>
</div>
}